<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2> Jak dojadę - Prolog</h2>
        <form action="#" th:action="@{'/route'}" th:method="POST" th:object="${search}">
            <div class="form-group blu-margin" >
                <select class="form-control" th:field="*{startBusStop}" id="startBusStopDropDown">
                    <option value="0">Select starting point</option>
                    <option th:each="busStop : ${busStops}" th:value="${busStop.name}" th:text="${busStop}"></option>
                </select>
            </div>

            <div class="form-group blu-margin">
                <select class="form-control" th:field="*{stopBusStop}" id="stopBusStopDropDown">
                    <option value="0">Select stop point</option>
                    <option th:each="busStop : ${busStops}" th:value="${busStop.name}" th:text="${busStop}"></option>
                </select>
            </div>
            <button type="submit" id="submitButton">Search</button>
        </form>


        <table>
            <thead>
            <tr>
                <th> Time </th>
                <th> Route </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${results.empty}">
                <td colspan="2"> No routes found!</td>
            </tr>
            <tr th:each="result : ${results}">
                <td><span th:text="${result.time}"> Time </span></td>
                <td><span th:text="${result.busStops}"> Bus stops </span></td>
                <td><span th:text="${result.listOfLines}"> List of lines </span></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${isMore}">
            <form action="#" th:action="@{'/more'}" th:method="GET">
                <button type="submit" id="submitButton2">Show more</button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>